* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

.master-box {
    height: 100vh;
    align-items: center;
    justify-content: center;
}

video {
    z-index: -3;
}

header {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 25px;
}

.list-header {
    display: flex;
    margin-left: 50px;
    list-style: none;
    cursor: pointer;

}

li {
    margin-left: 50px;
    font-size: 20px;
    font-weight: bold;
    color: wheat;

}

li:hover {
    transform: scale(1.5);
    transition: 0.5s;
}

.logo-mario {
    width: 70px;
    height: 70px;
}

.logo-texto {
    width: 350px;
    height: 200px;
    margin-bottom: 25px;
}

h3 {
    font-size: 25px;
    color: wheat;
}

.box-text p {
    margin: 50px 0;
    font-size: 20px;
    font-weight: bold;
    color: wheat;
}

button {
    width: 200px;
    height: 50px;
    background-color: rgb(136, 2, 2);
    ;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #ff1111;
    transition: 0.6s;
}

.box-master {
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.box-text {
    width: 40%;
    padding: 0 50px;
    margin-top: 100px;
}

.box-image {
    width: 40%;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.imagem-mario {
    width: 400px;
    height: 500px;
}

.banner {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
    top: 0;
}

video {
    position: fixed;
    top: 0;
    min-width: 100%;
    min-height: 100%;

}

.mascara-video {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

.link-whatsapp img {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.mario-form {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
    border: 3px solid rgb(5, 252, 30);
    display: flex;
    gap: 15px;
    flex-direction: column;
    position: fixed;
    left: -290px;
    top: 40%;
    transition: left 0.7s linear;
    z-index: 4;


    h3 {
        color: red;
        text-align: center;
    }

    input {
        padding-left: 10px;
        outline-color: red;
        height: 40px;
        border-radius: 5px;
        border: 2px solid gray;
    }

    textarea {
        padding: 10px;
        outline-color: red;
        height: 150px;
        width: 250px;
        border-radius: 5px;
        border: 2px solid gray;
    }

    .botao-formulario {
        margin-left: 15px;

    }



}

.servicos {
    background-color: whitesmoke;
    padding: 20px;
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: 40%;
    bottom: -40%;
    position: fixed;
    border: 5px solid #ff1111;
    transition: bottom 0.7s linear;
    z-index: 4;
    border-radius: 20px;
}

.servicos h3 {
    color: #ff1111;
}

.servicos p {
    margin: 15px;
    color: black;
}

.mascara {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
    visibility: hidden;
    z-index: 3;

}

@media(max-width: 1100px) {

    .box-text p {
        display: none;
    }

    h3 {
        display: none;
    }



    .box-master {

        flex-direction: column;
        padding: 10px;
    }

    .box-text {

        display: flex;
        align-items: center;
        flex-direction: column;


    }

    .box-image {
        margin-top: 20px;
        margin-right: 100px;
    }

    .imagem-mario {

        width: 300px;
        height: auto;
    }

    .logo-mario {
        display: none;
    }

    header {
        padding-left: 0px;
        padding-right: 0px;
        align-items: center;
        justify-content: center;
    }
}

.list-header {
    margin: 0;


    li {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }



}

.servicos {
    width: 292px;
    height: 350px;
    right: 15%;
}

.servicos p {
    font-size: 19px;
}